<main>
  <div class="container">

    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-1">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

            <div class="d-flex justify-content-center py-4">
              Humble abode properties
            </div><!-- End Logo -->

            <div class="card mb-3">

              <div class="card-body">

                <div class="pt-4 pb-2">

                  <h5 class="card-title text-center pb-0 fs-4">Change your password</h5>
                </div>

                <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, "data-turbo": false }) do |f| %>
                  <%= f.hidden_field :reset_password_token %>

                  <div class="col-12">
                    <label for="yourUsername" class="form-label">New Password</label>
                    <%=  f.password_field :password, autofocus: true, class: "form-control" %>
                  </div>

                  <div class="col-12 mt-3">
                    <label for="yourUsername" class="form-label">Password Confirmation</label>
                    <%=  f.password_field :password_confirmation, autofocus: true, class: "form-control" %>
                  </div>


                  <div class="col-12 mt-3">
                    <%= f.submit "Update", class: "btn btn-primary" %>
                  </div>
                <% end %>


              </div>
            </div>

            <div class="credits">
              <a href="/users/sign_in">Sign in</a>
            </div>

          </div>
        </div>
      </div>

    </section>

  </div>
</main>
